.outbox{
    border: solid 1px;
    height: 500px;
    background-image: url(nani.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 500px;
}
#nav{
    border: solid 1px white;
    height: 50px;
    line-height: 50px;
}
#in{
    color: aquamarine;
    font-size: 20px;
    text-decoration: none;
    padding-right: 180px;
    font-weight: bold;
}
.out{
    border: solid 1px white;
    height: 450px;
}
#cafe{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    text-shadow: 3px 3px 5px  red;
}
#menu{
    border: solid 1px;
    height: 350px;
}
#image{
    border-radius: 50%;
}