body{
    background-image: url(food.jpg);
    background-repeat: no-repeat;
    background-size: 1800px 800px;
}
form{
    border: solid 1px white;
    width: 500px;
    background-color: #ffffff28;
    margin-left: 600px;
}
h1{
    text-align: center;
    color: rgb(0, 2, 128);
    font-size: 50px;
}
label{
    font-size: 30px;
    color: rgba(0, 238, 255, 0.87);
    font-weight: bold;
}
input{
    width: 300px;
    height: 35px;
    margin-bottom: 10px;
}
button{
    height: 40px;
    width: 150px;
    background-color: gold;
    font-size: 15px;
    border-radius: 20px;
}